<div class="main">
    <div class="overflow-x-auto">

        <div class="flex flex-nowrap items-center space-x-2 overflow-x-auto pb-4 bg-white w-full">

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 py-4">
            <div class="card bg-white border border-gray-300 p-4 rounded-lg shadow-lg">
                <app-test-chart></app-test-chart>
            </div>
            <div class="card bg-white border border-gray-300 p-4 rounded-lg shadow-lg">
                <app-test-chart></app-test-chart>
            </div>
            <div class="card bg-white border border-gray-300 p-4 rounded-lg shadow-lg">
                <app-test-chart></app-test-chart>
            </div>
        </div>

        <div class="table-wrapper overflow-x-auto">

        </div>

    </div>
</div>
