<div class="main">
    <div class="overflow-x-auto">

        <div class="flex flex-nowrap items-center space-x-2 overflow-x-auto pb-4 bg-white w-fit">
        </div>

        <div class="grid grid-cols-8 gap-4 py-4">
            <div class="col-span-2 p-20 card bg-white border border-gray-300 rounded-lg shadow-lg">
                <app-accident-servirty-chart></app-accident-servirty-chart>
            </div>
            <div class="col-span-6 card bg-white border border-gray-300 p-4 rounded-lg shadow-lg">
                <app-accident-pop-grd></app-accident-pop-grd>
            </div>
        </div>

        <div class="grid grid-cols-8 gap-4 py-4">
            <div class="col-span-6 card bg-white border border-gray-300 p-4 rounded-lg shadow-lg">
                <app-accident-bar-chart></app-accident-bar-chart>

            </div>
            <div class="card bg-white col-span-2 p-20 border border-gray-300 rounded-lg shadow-lg">
                <app-accident-chart></app-accident-chart>
            </div>
        </div>


    </div>
</div>
