<div class="flex flex-nowrap items-center space-x-2 overflow-x-auto pb-4 bg-white w-full">
    <div class="table-wrapper overflow-x-auto w-full">

        <table class="table">
            <thead class="table-thead">
            <tr>
                <th scope="col" class="px-6 py-3">Name
                <th scope="col" class="px-6 py-3">City
                <th scope="col" class="px-6 py-3">District
                <th scope="col" class="px-6 py-3">Province
                <th scope="col" class="px-6 py-3">Time
                <th scope="col" class="px-6 py-3">Incident Status
            </tr>
            </thead>
            <tbody>
                @for (accident of accidentService.all(); track accident.id) {
                    <tr class="bg-white border-b">
                        <td class="px-6 py-2 text-sm">{{ accident.fullName | titlecase }}
                        <td class="px-6 py-2 text-sm">{{ accident.city | titlecase }}
                        <td class="px-6 py-2 text-sm">{{ accident.district | titlecase }}
                        <td class="px-6 py-2 text-sm">{{ accident.province | titlecase }}
                        <td class="px-6 py-2 text-sm">{{ accident.time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td class="px-4 py-3">
                            <app-status-badge [status]="accident.incidentStatus"></app-status-badge>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>